<!-- Header -->
<div class="relative bg-green-500 md:pt-32 pb-2 pt-2">
    <div class="px-4 md:px-10 mx-auto w-full">
      <div>
        <!-- Card stats -->
        <div class="flex flex-wrap">
          <div class="flex flex-col">
            <div class="h-1 bg-gray-200 rounded overflow-hidden">
              <div class="w-24 h-full bg-indigo-500"></div>
            </div>
            <div class="flex flex-wrap sm:flex-row flex-col py-6">
              <h1 class="sm:w-2/5 text-gray-100 font-medium title-font text-2xl mb-2 sm:mb-0">All open chat requests</h1>
              <p class="sm:w-3/5 leading-relaxed text-base sm:pl-10 pl-0">Respond to the user courteously and with the model that has been given to you.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  