<div *ngIf="diary">

    <section class="text-gray-600 body-font">
        <div class="container px-5 py-32 mx-auto">
          <div class="flex flex-col text-center w-full mb-20">
            <h2 class="text-xs text-green-500 tracking-widest font-medium title-font mb-1">Your Journal Entries</h2>
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Showing the last 4</h1>
            <!-- <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Whatever cardigan tote bag tumblr hexagon brooklyn asymmetrical gentrify, subway tile poke farm-to-table. Franzen you probably haven't heard of them man bun deep jianbing selfies heirloom prism food truck ugh squid celiac humblebrag.</p> -->
          </div>
          <div class="flex flex-wrap">
            <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200 border-opacity-60">
              <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">Time of Entry: {{diary[0].entryDate.toDate() | date: 'dd/MM HH:mm'}}</h2>
              <p class="leading-relaxed text-base mb-4">{{diary[0].entry | slice:0:120}}</p>
              <a routerLink="/admin/view-diary/{{diary[0].id}}" class="text-green-500 inline-flex items-center">Read full 
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                  <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
              </a>
            </div>
            <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200 border-opacity-60">
              <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">Time of Entry: {{diary[1].entryDate.toDate() | date: 'dd/MM HH:mm'}}</h2>
              <p class="leading-relaxed text-base mb-4">{{diary[1].entry | slice:0:120}}</p>
              <a href="http://www.cnn.com" class="text-green-500 inline-flex items-center">Read full
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                  <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
              </a>
            </div>
            <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200 border-opacity-60">
              <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">Time of Entry: {{diary[2].entryDate.toDate() | date: 'dd/MM HH:mm'}}</h2>
              <p class="leading-relaxed text-base mb-4">{{diary[2].entry | slice:0:120}}</p>
              <a class="text-green-500 inline-flex items-center">Read full
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                  <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
              </a>
            </div>
            <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200 border-opacity-60">
              <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">Time of Entry: {{diary[3].entryDate.toDate() | date: 'dd/MM HH:mm'}}</h2>
              <p class="leading-relaxed text-base mb-4">{{diary[3].entry | slice:0:120}}</p>
              <a class="text-green-500 inline-flex items-center">Read full
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                  <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
              </a>
            </div>
          </div>
          <button class="flex mx-auto mt-16 text-white bg-green-500 border-0 py-2 px-8 focus:outline-none hover:bg-green-600 rounded text-lg">See all</button>
        </div>
      </section>

</div>